<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%- title %></h1>
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item active"><%- title %></li>
          </ol>
        </div>
        <div class="col-sm-6">
          <div class="float-sm-right" style="padding: 20px 10px 0px 0px;">
            <!-- <a class="btn btn-block btn-outline-primary" href="/employee/input">Input</a> -->
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ar_name" placeholder="Area Name" value="<%= area.ar_name %>">
                                    <input type="hidden" class="form-control" id="ar_id" placeholder="Area Name" value="<%= area.ar_id %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Code</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ar_code" placeholder="Area Code" value="<%= area.ar_code %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Building</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="bd_id">
                                        <option selected="selected" value="">- Select -</option>
                                        <% building.forEach(function(val) {
                                            if(val.bd_id==area.bd_id){
                                            %>
                                                <option value="<%= val.bd_id %>" selected ><%= val.bd_name %> </option>
                                            <%
                                            }else{
                                            %>
                                                <option value="<%= val.bd_id %>"><%= val.bd_name %> </option>
                                            <%
                                            }
                                        }); %> 
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Floor</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ar_floor" placeholder="Floor" value="<%= area.ar_floor %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Position</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ar_position" placeholder="Position" value="<%= area.ar_position %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" id="save">Save</button>
                        <a href="/area" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function () {
    var Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000
    });

    $('.select2').select2();

    $('#save').click(function(e){
        // debugger
        e.preventDefault();

        let ar_id       = $('#ar_id').val();
        let bd_id       = $('#bd_id').val();
        let ar_name     = $('#ar_name').val();
        let ar_code     = $('#ar_code').val();
        let ar_floor    = $('#ar_floor').val();
        let ar_position = $('#ar_position').val();

        if(bd_id==''){
            Toast.fire({
                icon: 'error',
                title: "Building Can't Be Empty" 
            });
            return false;
        }
        if(ar_name==''){
            Toast.fire({
                icon: 'error',
                title: "Name Can't Be Empty "
            });
            return false;
        }
        if(ar_code==''){
            Toast.fire({
                icon: 'error',
                title: "Code Can't Be Empty "
            });
            return false;
        }
        if(ar_floor==''){
            Toast.fire({
                icon: 'error',
                title: "Floor Can't Be Empty "
            });
            return false;
        }
        

        $.ajax({
            url         : '/area/act_area',
            type        : "POST",
            data        : {
                ar_id           : ar_id,
                bd_id           : bd_id,
                ar_name         : ar_name,
                ar_code         : ar_code,
                ar_floor        : ar_floor,
                ar_position     : ar_position
            },
            success : function(resp){
                // debugger
                if(resp.status == 'ERROR INSERT' || resp.status==false){
                    Toast.fire({
                        icon: 'error',
                        title: resp.message
                    });
                    return false;

                }else{
                    Toast.fire({
                        icon: resp.status,
                        title: resp.message
                    });

                    setTimeout(function(){
                        window.location.href = '/area/'; //will redirect to google.
                    }, 2000);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Toast.fire({
                    icon: 'error',
                    title: '  '+xhr.responseJSON.message
                });
            } 
        });

    });
});
</script>