<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%- title %></h1>
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item active"><%- title %></li>
          </ol>
        </div>
        <div class="col-sm-6">
          <div class="float-sm-right" style="padding: 20px 10px 0px 0px;">
            <a class="btn btn-block btn-outline-primary" href="/building/input">Input</a>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">  
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Customer</th>
                  <th>City</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% building.forEach(function(val) { %>
                    <tr>
                      <td><%= val.newRoot['bd_name'] %></td>
                      <td><%= val.newRoot['bd_code'] %></td>
                      <td><%= val.newRoot['cs_name'] %></td>
                      <td><%= val.newRoot['bd_city'] %></td>
                      <td><%= val.newRoot['bd_address'] %></td>
                      <td>
                        <a class="btn btn-block btn-warning btn-sm" href="<%= '/building/edit/'+val.newRoot['bd_id'] %>">Edit</a>
                        <button id="delete" data-id="<%= val.newRoot['bd_id'] %>" type="button" class="btn btn-block btn-danger btn-sm">Delete</button>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <script>
    $(function () {
      var Toast = Swal.mixin({
          toast: true,
          position: 'top',
          showConfirmButton: false,
          timer: 3000
      });
  
      $("#example1").DataTable({
        "responsive": true, 
        "lengthChange": false, 
        "autoWidth": false,
        "ordering": false,
        // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      })
      // .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
  
      $('#example1').on('click','#delete', function(e){
        // debugger
        Swal.fire({
          title: 'Do you want to Delete?',
          showCancelButton: true,
          confirmButtonText: 'Delete',
        }).then((result) => {
          // debugger
          let id      = e.target.dataset.id;
          if (result.isConfirmed) {
            $.ajax({
              url         : '/building/del_detail',
              type        : "POST",
              data        : { id },
            });
  
  
            Swal.fire('Data has been deleted!', '', 'success')
            setTimeout(function(){
                window.location.href = '/building/'; //will redirect to google.
            }, 2000);
          } 
          // else if (result.isDenied) {
          //   Swal.fire('Changes are not saved', '', 'info')
          // }
        })
      });
  
    });
  </script>