<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%- title %></h1>
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item active"><%- title %></li>
          </ol>
        </div>
        <div class="col-sm-6">
          <div class="float-sm-right" style="padding: 20px 10px 0px 0px;">
            <!-- <a class="btn btn-block btn-outline-primary" href="/employee/input">Input</a> -->
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cs_name" placeholder="Customer Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Telp</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cs_phone" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Address</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="address" id="cs_address" cols="20" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" id="save">Save</button>
                        <a href="/employee" class="btn btn-default">Cancel</a>
                        <!-- <button type="submit" class="btn btn-default float-right">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function () {
    var Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000
    });

    $('.select2').select2();

    $('#save').click(function(e){
        // debugger
        e.preventDefault();

        let cs_name     = $('#cs_name').val();
        let cs_phone    = $('#cs_phone').val();
        let cs_address  = $('#cs_address').val();

        if(cs_name==''){
            Toast.fire({
                icon: 'error',
                title: "Name Can't Be Empty "
            });
            return false;
        }
        if(cs_phone==''){
            Toast.fire({
                icon: 'error',
                title: "Name Can't Be Empty "
            });
            return false;
        }

        $.ajax({
            url         : '/customer/act_customer',
            type        : "POST",
            data        : {
                        cs_name         : cs_name,
                        cs_phone        : cs_phone,
                        cs_address      : cs_address
            },
            success : function(resp){
                // debugger
                if(resp.status == 'ERROR INSERT' || resp.status==false){
                    Toast.fire({
                        icon: 'error',
                        title: resp.message
                    });
                    return false;

                }else{
                    Toast.fire({
                        icon: resp.status,
                        title: resp.message
                    });

                    setTimeout(function(){
                        window.location.href = '/customer/'; //will redirect to google.
                    }, 2000);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Toast.fire({
                    icon: 'error',
                    title: '  '+xhr.responseJSON.message
                });
            } 
        });

    });
});
</script>