<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%- title %></h1>
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item active"><%- title %></li>
          </ol>
        </div>
        <div class="col-sm-6">
          <div class="float-sm-right" style="padding: 20px 10px 0px 0px;">
            <!-- <a class="btn btn-block btn-outline-primary" href="/employee/input">Input</a> -->
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Department</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="dp_id">
                                        <option value="">- Select -</option>
                                        <% dept.forEach(function(val) { %>
                                            <option value="<%= val.dp_id %>" <% if(val.dp_id==employee.dp_id){ %> selected <% } %>><%= val.dp_name %></option>                                            
                                        <% }); %> 
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="employee_name" placeholder="Employee Name" value="<%= employee.em_name %>">
                                    <input type="hidden" class="form-control" id="em_id" placeholder="Employee Name" value="<%= employee.em_id %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Gender</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-group" type="radio" name="gender" id="gender" value="M" <%if (employee.em_gender=='M') { %> checked <% } %>>
                                    <label class="form-check-label">Men</label> &nbsp &nbsp &nbsp
                                    <input class="form-group" type="radio" name="gender" id="gender" value="W" <%if (employee.em_gender=='W') { %> checked <% } %>>
                                    <label class="form-check-label">Woman</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Date Of Bird</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="date" class="form-control" id="dob" placeholder="Date Of Bird" value="<%= employee.em_dob %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Place Of Bird</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="pob" placeholder="Date Of Bird" value="<%= employee.em_pob %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Address</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="address" id="em_address" cols="20" rows="5" class="form-control"><%= employee.em_address %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" id="save">Save</button>
                        <a href="/employee" class="btn btn-default">Cancel</a>
                        <!-- <button type="submit" class="btn btn-default float-right">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function () {
    var Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000
    });

    $('.select2').select2();

    $('#save').click(function(e){
        // debugger
        e.preventDefault();

        let em_id       = $('#em_id').val();
        let dp_id       = $('#dp_id').val();
        let em_name     = $('#employee_name').val();
        let em_gender   = $('#gender:checked').val();
        let em_dob      = $('#dob').val();
        let em_pob      = $('#pob').val();
        let em_address  = $('#em_address').val();

        if(dp_id==''){
            Toast.fire({
                icon: 'error',
                title: "Department Can't Be Empty" 
            });
            return false;
        }
        if(em_name==''){
            Toast.fire({
                icon: 'error',
                title: "Name Can't Be Empty "
            });
            return false;
        }
        if(!$('#gender:checked').val()){
            Toast.fire({
                icon: 'error',
                title: "Gender Can't Be Empty "
            });
            return false;
        }

        $.ajax({
            url         : '/employee/act_employee',
            type        : "POST",
            data        : {
                        em_id           : em_id,
                        dp_id           : dp_id,
                        em_name         : em_name,
                        em_gender       : em_gender,
                        em_dob          : em_dob,
                        em_pob          : em_pob,
                        em_address      : em_address
            },
            success : function(resp){
                // debugger
                if(resp.status == 'ERROR INSERT' || resp.status==false){
                    Toast.fire({
                        icon: 'error',
                        title: resp.message
                    });
                    return false;

                }else{
                    Toast.fire({
                        icon: resp.status,
                        title: resp.message
                    });

                    // setTimeout(function(){
                    //     window.location.href = '/employee/'; //will redirect to google.
                    // }, 2000);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Toast.fire({
                    icon: 'error',
                    title: '  '+xhr.responseJSON.message
                });
            } 
        });

    });
});
</script>