<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%- title %></h1>
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Master</li>
          <li class="breadcrumb-item active"><%- title %></li>
        </ol>
      </div>
      <div class="col-sm-6">
        <div class="float-sm-right" style="padding: 20px 10px 0px 0px;">
          <a class="btn btn-block btn-outline-primary" href="/employee/input">Input</a>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">  
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Gender</th>
                <th>Date Of Bird</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <% employee.forEach(function(val) { %>
                  <tr>
                    <td><%= val.em_name %></td>
                    <td><%= val.dp_id %></td>
                    <td><%= val.em_gender %></td>
                    <td><%= val.em_dob %></td>
                    <td><%= val.em_address %></td>
                    <td>
                      <a class="btn btn-block btn-warning btn-sm" href="<%= '/employee/edit/'+val.em_id %>">Edit</a>
                      <button id="delete" data-id="<%= val.em_id %>" type="button" class="btn btn-block btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<script>
  $(function () {
    var Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000
    });

    $("#example1").DataTable({
      "responsive": true, 
      "lengthChange": false, 
      "autoWidth": false,
      "ordering": false,
      // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    })
    // .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });

    $('#delete').click(function(e){
      debugger
      Swal.fire({
        title: 'Do you want to Delete?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Save',
        denyButtonText: `Don't save`,
      }).then((result) => {
        // debugger
        let id      = e.target.dataset.id;
        if (result.isConfirmed) {
          $.ajax({
            url         : '/employee/del_detail',
            type        : "POST",
            data        : { id },
          });


          Swal.fire('Data has been deleted!', '', 'success')
        } 
        // else if (result.isDenied) {
        //   Swal.fire('Changes are not saved', '', 'info')
        // }
      })
    });

  });
</script>