<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%- title %></h1>
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item active"><%- title %></li>
          </ol>
        </div>
        <div class="col-sm-6">
          <div class="float-sm-right" style="padding: 20px 10px 0px 0px;">
            <!-- <a class="btn btn-block btn-outline-primary" href="/employee/input">Input</a> -->
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Employee Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="em_id">
                                        <option selected="selected" value="">- Select -</option>
                                        <% employee.forEach(val => { %>
                                            <option value="<%= val.em_id %> "><%= val.em_name %> 
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" id="cs_id">
                                        <option selected="selected" value="">- Select -</option>
                                        <% customer.forEach(val => { %>
                                            <option value="<%= val.cs_id %> "><%= val.cs_name %> 
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Level</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cs_level" placeholder="Level">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Badge</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cs_badge" placeholder="Badge">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Salary</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="salary" placeholder="Salary">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" id="save">Save</button>
                        <a href="/salary" class="btn btn-default">Cancel</a>
                        <!-- <button type="submit" class="btn btn-default float-right">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function () {
    var Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000
    });

    $('.select2').select2();

    $('#save').click(function(e){
        // debugger
        e.preventDefault();

        let em_id       = $('#em_id').val();
        let cs_id       = $('#cs_id').val();
        let cs_level    = $('#cs_level').val();
        let cs_badge    = $('#cs_badge').val();
        let salary      = $('#salary').val();

        if(em_id==''){
            Toast.fire({
                icon: 'error',
                title: "Employee Can't Be Empty" 
            });
            return false;
        }
        if(cs_id==''){
            Toast.fire({
                icon: 'error',
                title: "Customer Can't Be Empty "
            });
            return false;
        }

        if(cs_level==''){
            Toast.fire({
                icon: 'error',
                title: "Level Can't Be Empty "
            });
            return false;
        }

        if(cs_badge==''){
            Toast.fire({
                icon: 'error',
                title: "Badge Can't Be Empty "
            });
            return false;
        }

        if(salary==''){
            Toast.fire({
                icon: 'error',
                title: "Salary Can't Be Empty "
            });
            return false;
        }

        

        $.ajax({
            url         : '/salary/act_employee',
            type        : "POST",
            data        : {
                em_id           : em_id,
                cs_id           : cs_id,
                cs_level        : cs_level,
                cs_badge        : cs_badge,
                salary          : salary
            },
            success : function(resp){
                // debugger
                if(resp.status == 'ERROR INSERT' || resp.status==false){
                    Toast.fire({
                        icon: 'error',
                        title: resp.message
                    });
                    return false;

                }else{
                    Toast.fire({
                        icon: resp.status,
                        title: resp.message
                    });

                    setTimeout(function(){
                        window.location.href = '/salary/'; //will redirect to google.
                    }, 2000);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                Toast.fire({
                    icon: 'error',
                    title: '  '+xhr.responseJSON.message
                });
            } 
        });

    });
});
</script>